*{
    box-sizing: border-box;
}

.img-move img {
    transition: 1s;
}

.img-move:hover img{
    transform: translate(0,100%);  
    /* animation-name: moving-images;
    animation-duration: 3s; */

}

.collapse {
    visibility: collapse;
}

.content-line {
    width: 10.66%;
    height: 5px;
    background-color:orange;
    margin-bottom: 28px;
}
.social-content {
    margin-top: 10%!important;
    margin-bottom: 10%!important;
}


.btn-header {
    bottom: 0!important;
}


#syarat a {
    color: black;
}

.h1{
    overflow: hidden;
    text-align: center;
    height: 100px;
    margin-bottom: -50px;
}

.h1:before, .h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}
.h1:before {
    right: 0.5em;
    margin-left: -50%;
}
.h1:after {
    left: 0.5em;
    margin-right: -50%;
}

.page-footer{
    line-height: 1.5;
    padding: 10px 0;
}